
.headerWrapper {
    background-color: rgba(0,0,0,.3);
    color: white;
    font-size: 30px;
    flex: 1 100%;
    margin-top: 0;
    position: relative;
    display: flex;
}

.header {
    padding: 30px 20px; 
}

.header h5 {
    margin: 0;
}

.greetingsTitle {
    display: inline-block;
    padding: 0.7rem 1.6rem;
    /* background-color: white; */
    background-color: rgba(0,0,0,36%);
    /* background-color: rgb(239, 213, 213); */
    color: white;
    border-radius: 38px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    position: absolute;
    right: 171px;
    top: 18px;
}