.loginBg {
  background-image: url('../assets/images/to-do-cut.png');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(12px) brightness(0.9);
  -webkit-filter: blur(12px) brightness(0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loginWrapper {
  margin: 6rem 10%;
  border-radius: 12px;
  background-color: white;
  padding: 18px;
  display: flex;
  min-height: 80vh;
  position: relative;
  animation: slideInSignUp 1.5s;
}

.slideInLogin {
  animation: slideInLogin 1.5s;
}

@keyframes slideInSignUp {
  from {
    left: 62rem;
  }
  to {
    left: 0;
  }
}
@keyframes slideInLogin {
  from {
    left: 62rem;
  }
  to {
    left: 0;
  }
}

.loginCol {
  flex-basis: 50%;
}

.loginColLeft {
  padding: 3rem;
}

.logoText {
  font-weight: 500;
  margin-bottom: 5px;
}

.logoSubtext {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.7rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 75%;
  min-width: 215px;
  margin: auto;
}

.loginImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.loginTitle {
  font-size: 1.6rem;
  margin-top: 2rem;
  text-align: center;
}

.loginSubtitle {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 2rem;
}

.loginInputWrapper {
  margin-bottom: 15px;
}

.loginInput {
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

.errorMsg {
  color: var(--coral-red);
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.button {
  width: 100%;
  padding: 9px;
  border-radius: 5px;
  background: blue;
  color: white;
  margin-bottom: 2rem;
}

.subbutton {
  color: var(--grey);
  font-size: 0.9rem;
}

.sublabel {
  color: blue;
  font-size: 0.9rem;
}

.verificationIcon {
}

.verificationText {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.verificationImage {
  margin: 5rem 0 2rem;
  text-align: center;
}

.icon {
  color: white;
  font-size: 3rem;
  padding: 3rem;
  background: rgba(2, 128, 144, 0.8);
  border-radius: 50%;
}

.verificationTitle {
  text-align: center;
}

.verificationEmail {
  color: #028090;
  font-weight: 600;
}

.note {
  position: absolute;
  bottom: 8rem;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.8rem 1rem;
  border-radius: 6px;
  font-size: 14px;
  display: flex;
  gap: 1rem;
}

.noteIcon {
  border-radius: 50%;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.207rem 0.33rem 0.2rem;
  align-self: center;
  cursor: pointer;
}

.noteIcon:hover {
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.errorOrange {
  background: rgba(251, 218, 151, 0.9);
}

.errorRed {
  background: rgba(237, 88, 108, 0.8);
}

@media (max-width: 768px) {
  .loginWrapper {
    flex-direction: column;
    margin: 2rem 20px;
  }
  .loginCol {
    flex-basis: 100%;
  }
  .loginColLeft {
    order: 2;
    padding: 2rem 1rem 1rem;
  }
  .loginColRight {
    order: 1;
  }
  .loginImg {
    height: 10rem;
  }

  .verificationImage {
    margin: 2.5rem 0 1.5rem;
  }
  .icon {
    font-size: 2.1rem;
    padding: 2rem;
  }
}
