.box {
    overflow-x: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    flex-wrap: nowrap;
}

.box::-webkit-scrollbar { width: 0 !important }

.columnWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 5px;
    height: 100%;
    min-height: 500px;
}

.columnHeader {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
}