
.headerWrapper {
    background-color: rgba(0,0,0,.3);
    color: white;
    font-size: 30px;
    flex: 1 100%;
    margin-top: 0;
    position: relative;
    display: flex;
}

.header {
    padding: 30px 20px; 
}

.header h5 {
    margin: 0;
}