.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffffff 94%, #0000) top/5px 5px
      no-repeat,
    conic-gradient(#0000 30%, #ffffff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 5px), #000 0);
  animation: spinner 0.8s infinite linear;
  margin: 0 auto;
}

.loader.big {
  width: 45px;
  height: 45px;
}

@keyframes spinner {
  100% {
    transform: rotate(1turn);
  }
}
