.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
}

.modal {
    width: 60%;
    height: auto;
    position: absolute;
    background-color: white;
    padding: 40px 46px 70px;
    border-radius: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modalExit {
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
    padding: 5px;
}

.modalTitle {
    text-align: center;
    width: 40%;
    font-weight: 600;
}

.modalStatus {
    background-color: var(--light-red);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 39px;
    border-radius: 40px;
    margin-bottom: 20px;
}

.modalContent {
    width: 80%;
    min-height: 70px;
}

.modalProgress {
    width: 8%;
    display: inline-block;
    margin-right: 10px;
}

.modalButton {
    padding: 8px 34px;
    position: absolute;
    bottom: 20px;
    right: 46px;
    background-color: var(--light-red);
}

.modalOutlineButton {
    padding: 6px 24px;
    border: 2px solid var(--light-red);
    background-color: transparent;
    right: 163px;
}