.task {
    cursor: pointer;
    position: relative;
    padding: 15px 12px;
    background: var(--white-color);
    border-radius: 7px;
}

.taskTitle {
    font-weight: 600;
    font-size: 16px;
}

.taskStatusWrapper {
    padding: 20px;
    border-radius: 50px;
    background-color: var(--light-red);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.taskStatus {
    height: 19px;
    width: 19px;
}

.taskTrash {
    position: absolute;
    top: 15px;
    right: 10px;
    opacity: .3;
}

.progressWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.progress {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.progressBar {
    width: 78px;
    height: 10px;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.2);
}

.progressFilled {
    position: absolute;
    background-color: #33cc77;
    height: 10px;
    top: 0px;
}

.dashed {
    border: dashed 2px var(--blue-color);
    border-radius: 8px;
}

.dashed .task {
    opacity: 0;
}